body
{
	background-image: url(game_over.png);
    background-repeat: no-repeat;
	background-size: cover;

	background-position: top;
}
.table
{
    padding-top: 200px;
}
p
{
    color: white;
    margin: 25px auto;

}